<IfModule mod_headers.c>
	Header set Access-Control-Allow-Origin: *
</IfModule>
<IfModule mod_rewrite.c>
	RewriteEngine On

	RewriteCond %{REQUEST_FILENAME} -f
	RewriteRule ^.*\.(htaccess|htpasswd|tpl|inc)$ /404.html [R=404,NC,L]
	RewriteRule ^.*\.(index)$ /index.php [NC,L,QSA]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^xhr/?s=(.*)&l=(.*)$ /xhr.php?s=$1&l=$2 [NC,L,QSA]
	RewriteRule ^xhr/?s=(.*)$ /xhr.php?s=$1 [NC,L,QSA]

	ErrorDocument 403 /403.html
	ErrorDocument 404 /404.html
</IfModule>